body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight, .highlight *{
  background-color: #ff0;
  font-weight: bold;
}

/* GRID */
dialog[open]{
  width: 30%;
  height: fit-content;
  max-height: 50%;
  display: grid;
  grid-template-areas:
    "name name"
    "menu menu"
    "address address"
    "postal-code city"
    "company phone"
    "close close";
  box-shadow: 10px 10px;

}
#gridname {
  grid-area: name;
  justify-self: center;
  align-self: center;
  font-size: 1.5em;
  
}
#gridaddress {
  grid-area: address;
}
#gridcity {
  grid-area: city;
}
#gridpostal {
  grid-area: postal-code;
}
#gridcompany {
  grid-area: company;
}
#gridphone {
  grid-area: phone;
}
#gridclose {
  grid-area: close;
}
#gridmenu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
}